params {
  config_profile_description = 'bioinfo config'
  config_profile_contact = 'Sergio Manzano sergiomanzano@vhio.net'
  config_profile_url = "tobecopiedingithub"
}
singularity {
  enabled = true
  autoMounts = true
  cacheDir="cache/"
}
executor {
  name = "slurm"
  queueSize = 12
}

process {
  executor = 'slurm'
  queue    =  { task.time <= 5.h && task.memory <= 10.GB ? 'short': (task.memory <= 70.GB ? 'long' : 'highmem')}

withName: 'SAMTOOLS_SORT' {
		memory = 250.GB
                cpus = 24 }
}

params {
  max_memory = 175.GB
  max_cpus = 24
  max_time = 240.h
}

